a {
  color: #fff !important;
  text-decoration: none
}
.neonText {
  color: #fff;
  text-shadow:
      0 0 2px #fff,
      0 0 6px #fff,
      0 0 11px #fff,
      0 0 20px #0d1224,
      0 0 40px #0d1224,
      0 0 45px #0d1224,
      0 0 500px #0d1224,
      0 0 75px #0d1224;
}


/* Additional styling */
.container{
    position:absolute;
    top:20px;
    right: 5px;
}

h1{
    margin-top:0px;
    margin-right: 10px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
}

body {
    margin: 0;
  background:#0d1224;
  font-family: "Helvetica Neue", sans-serif;
}


#header {

    height: 60px;
    background:#257d0f;
    border-bottom: 2px solid black;
}
#main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
#text{
    float:left;
    position: relative;
    padding-left: auto;
    padding-right: auto;
    width: 250px;
    border: 1px solid red;
    padding: 15px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
p{
    color:#fff;
}
